<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="main-contect">
        {{>header}}

        <h1>{{phone}}</h1>
        <h1>{{email}}</h1>
    </div>


    {{>footer}}
</body>

</html>